//.mtr-dropdown
//  .outer-container(ng-click="vm.childMenuVisibility = !vm.childMenuVisibility", class="noselect", ng-class="(vm.childMenuVisibility)?'active':''", ng-blur="window.alert('blured')")
//    span {{dropdownModel[labelField]}}
//    input(type="hidden" name="mtr-dropdown")
//  ul(ng-if="vm.childMenuVisibility === true")
//    li(ng-repeat="mtrOption in vm.mtrOptions", class="noselect", ng-click="vm.updateSelected(mtrOption)") {{mtrOption.text}}
//      span(ng-show="mtrOption.icon !== null", class="with-icon",ng-class="'icon '+mtrOption.icon")

//
