.mtr-dropdown
  .outer-container(ng-click="$ctrl.childMenuVisibility = !$ctrl.childMenuVisibility", class="noselect", ng-class="($ctrl.childMenuVisibility)?'active':''")
    span Choose an animal
    input(type="hidden" name="mtr-dropdown")
  ul(ng-show="$ctrl.childMenuVisibility")
    li(ng-repeat="mtrOption in vm.mtrOptions", class="noselect") {{mtrOption.text}}
      span(ng-show="mtrOption.hasIcon", class="with-icon",ng-class="'icon '+mtrOption.icon")

