.main-view(ng-init="ddSelectOptions = [{text:'Option1',value:'one',iconCls:''}, {text:'Option2',value:'one',iconCls:'ion-ionic'},{text:'Option3',value:'one',iconCls:'ion-ios-infinite'}]")
  header(class="header")
    .sidebar-trigger
      span(class="icon ion-android-menu")
  span {{ddSelect}}
  //section(class="sidebar")
  //  date-dropper(placeholder="dd/mm/yyyy", ng-model="$ctrl.date", date-format="d/m/Y", dd-color="#F55")
  section(class="content")
    //h1 Dropdown select
    //p you have selected {{ddSelected }}
    div(dropdown-select="ddSelectOptions",  dropdown-model="ddSelect", dropdown-item-label="text" )
    input(type="text")
    //input(type="color")
    textarea
    input(type="number")
    input(type="password")
    input(type="search")
    input(type="password")
    input(type="search")
    input(type="search")
    input(type="search")
    input(type="search")
    .scrollable-view
