.main-view
  header(class="header") {{$ctrl.date}}
  section(class="sidebar")
    date-dropper(placeholder="dd/mm/yyyy", ng-model="$ctrl.date", date-format="d/m/Y", dd-color="#F55")

  section(class="content")
    mtr-dropdown ff
    .scrollable-view
      //|main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>


//wheelnav(wn-name="main-wheel", wn-radius="100", wn-navangle="90", wn-slicepath="DonutSlice", wn-colors="#E34C26,#F06529", wn-rotateoff="true")
//form(ng-submit="login")
//  label username
//  input(type="text", ng-model="$ctrl.username")
//  label password
//  input(type="password", ng-model="$ctrl.password")
//  input(type="submit", value="login")
