.main-view{
  @include outer-container;
  .main-header{
    @include span-columns(4);
    background-color: forestgreen;
    height: 4em;
    line-height: 4em;
  }
  article{
    @include span-columns(6);
    @include shift(4);
    section{
      background-color: #0b97c4;
      cursor: pointer;
      margin-bottom: 2px;
    }
  }
}
