div(id="divWheel")

  //div(data-wheelnav-navitemtext="2")
  //  a(href="#navitem")
  //div(data-wheelnav-navitemtext="Mola")
  //  a(href="#navitem")
  //div(data-wheelnav-navitemtext="5")
  //  a(href="#navitem")
